@{
	ViewData["Title"] = "RoleList";
	var roleList = (List<ListRoles>)ViewData["ListRole"]!;
	/*
	var save_order = (List<SaveOrderRoles>)ViewData["SaveOrder"]!;
	var adj_order = (List<AdjustOrderRoles>)ViewData["AdjustOrder"]!;
	var datatype = (List<DataTypeRoles>)ViewData["DataTypeRole"]!;
	var report = (List<ReportRoles>)ViewData["ReportRole"]!;
	*/
	var page_role = (List<MDS_Roles>)ViewData["MDS_Role"]!;
	var manage_user = (List<ManageUserRoles>)ViewData["ManageUser"]!;
}
<!--begin::Toolbar-->
	<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
		<!--begin::Toolbar container-->
		<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
			<!--begin::Page title-->
			<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
				<!--begin::Title-->
				<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
					Roles List
				</h1>
				<!--end::Title-->

			</div>
			<!--end::Page title-->

		</div>
		<!--end::Toolbar container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Content-->
	<div id="kt_app_content" class="app-content flex-column-fluid">
		<!--begin::Content container-->
		<div id="kt_app_content_container" class="app-container container-xxl">
			<!--begin::Row-->
			<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
				<!--begin::Col-->
			@foreach (var role in roleList)
			{
				<div class="col-md-4">
					<!--begin::Card-->
					<div class="card card-flush h-md-100">
						<!--begin::Card header-->
						<div class="card-header">
							<!--begin::Card title-->
							<div class="card-title">
								<h2>@role.RoleName</h2>
							</div>
							<!--end::Card title-->
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body pt-1">
							<!--begin::Permissions-->
							<div class="d-flex flex-column text-gray-600">
								<div class="d-flex align-items-center flex-wrap  py-2">
										@{
											/*
											var SaveOrder = role.claimRole.Take(4);
											var AdjOrder = role.claimRole.Skip(4).Take(4);
											var DataTypeOrder = role.claimRole.Skip(8).Take(4);
											var ReportOrder = role.claimRole.Skip(12).Take(4);
											*/
											var access_page = role.claimRole.Take(4);
											var manageUserOrder = role.claimRole.Skip(4).Take(4);
										}


									@if (access_page.Where(x => x.IsAllow == true).Count() > 0)
										{
										@*<span class="bullet bg-primary me-3"></span>*@

										<p style="width:100%;">
											<span style="color:blue;">
												Access Page  :
											</span>  <br />@foreach (var acc_page in access_page)
												{
												@if (acc_page.IsAllow)
													{
													@acc_page.Name

													@(", ")
													}
												}
											</p>
									
										}
									@if (manageUserOrder.Where(x => x.IsAllow == true).Count() > 0)
									{
										@*<span class="bullet bg-primary me-3"></span>*@

										<p style="width:100%;">
											<span style="color:blue;">
												User Management : </span><br />@foreach (var manageUser in manageUserOrder)
											{
												@if (manageUser.IsAllow)
												{
													@manageUser.Name@(", ")
												}
											}
										</p>

									}

								</div>
								
							</div>
							<!--end::Permissions-->
						</div>
						<!--end::Card body-->
						<!--begin::Card footer-->
						<div class="card-footer flex-wrap pt-0">
							<button class="btn btn-light btn-active-primary my-1 me-2" onclick="delateRole('@role.RoleId')">Delete Role</button>
							<button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role" onclick="UpdateRoles('@role.RoleId')">
								Edit
								Role
							</button>
						</div>
						<!--end::Card footer-->
					</div>
					<!--end::Card-->
				</div>
			}
			@*
				<div class="col-md-4">
					<!--begin::Card-->
					<div class="card card-flush h-md-100">
						<!--begin::Card header-->
						<div class="card-header">
							<!--begin::Card title-->
							<div class="card-title">
								<h2>Administrator</h2>
							</div>
							<!--end::Card title-->
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body pt-1">

							<!--begin::Permissions-->
							<div class="d-flex flex-column text-gray-600">
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>บันทึก Order : View
									Create Edit Delete
								</div>
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>ปรับ Order : View
									Create Edit Delete
								</div>
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>รูปแบบข้อมูล : View
									Create Edit Delete
								</div>
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>พิมพ์รายงาน : View
									Create Edit Delete
								</div>
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>User Management :
									View Create Edit Delete
								</div>

							</div>
							<!--end::Permissions-->
						</div>
						<!--end::Card body-->
						<!--begin::Card footer-->
						<div class="card-footer flex-wrap pt-0">
							<a href="../../demo1/dist/apps/user-management/roles/view.html" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>
							<button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">
								Edit
								Role
							</button>
						</div>
						<!--end::Card footer-->
					</div>
					<!--end::Card-->
				</div>
				<!--end::Col-->
				<!--begin::Col-->
				<div class="col-md-4">
					<!--begin::Card-->
					<div class="card card-flush h-md-100">
						<!--begin::Card header-->
						<div class="card-header">
							<!--begin::Card title-->
							<div class="card-title">
								<h2>Guest</h2>
							</div>
							<!--end::Card title-->
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body pt-1">

							<!--begin::Permissions-->
							<div class="d-flex flex-column text-gray-600">
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>บันทึก Order : View
								</div>
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>ปรับ Order : View
								</div>
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>รูปแบบข้อมูล : View
								</div>
								<div class="d-flex align-items-center py-2">
									<span class="bullet bg-primary me-3"></span>พิมพ์รายงาน : View
								</div>

							</div>
							<!--end::Permissions-->
						</div>
						<!--end::Card body-->
						<!--begin::Card footer-->
						<div class="card-footer flex-wrap pt-0">
							<a href="../../demo1/dist/apps/user-management/roles/view.html" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>
							<button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">
								Edit
								Role
							</button>
						</div>
						<!--end::Card footer-->
					</div>
					<!--end::Card-->
				</div>*@
				<!--end::Col-->
				<!--begin::Add new card-->
				<div class="ol-md-4">
					<!--begin::Card-->
					<div class="card h-md-100">
						<!--begin::Card body-->
						<div class="card-body d-flex flex-center">
							<!--begin::Button-->
							<button type="button" class="btn btn-clear d-flex flex-column flex-center" @*data-bs-toggle="modal" data-bs-target="#kt_modal_add_role"*@ onclick="modalAddRole()">
								<!--begin::Illustration-->
								<img src="assets/media/illustrations/sketchy-1/4.png" alt="" class="mw-100 mh-150px mb-7">
								<!--end::Illustration-->
								<!--begin::Label-->
								<div class="fw-bold fs-3 text-gray-600 text-hover-primary">
									Add New
									Role
								</div>
								<!--end::Label-->
							</button>
							<!--begin::Button-->
						</div>
						<!--begin::Card body-->
					</div>
					<!--begin::Card-->
				</div>
				<!--begin::Add new card-->
			</div>
			<!--end::Row-->
			<!--begin::Modals-->
			<!--begin::Modal - Add role-->
			<div class="modal fade" id="modal_add_role" @*id="kt_modal_add_role" tabindex="-1" aria-hidden="true"*@>
				<!--begin::Modal dialog-->
				<div class="modal-dialog modal-dialog-centered mw-750px">
					<!--begin::Modal content-->
					<div class="modal-content">
						<!--begin::Modal header-->
						<div class="modal-header">
							<!--begin::Modal title-->
							<h2 class="fw-bold">Add a Role</h2>
							<!--end::Modal title-->
							<!--begin::Close-->
						<div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-roles-modal-action="close" onclick="modalAddRole()">
								<i class="ki-duotone ki-cross fs-1">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
							</div>
							<!--end::Close-->
						</div>
						<!--end::Modal header-->
						<!--begin::Modal body-->
						<div class="modal-body scroll-y mx-lg-5 my-7" >
							<!--begin::Form-->
						<form id="form_add_role" class="form fv-plugins-bootstrap5 fv-plugins-framework" onsubmit="return false" method="post">
								<!--begin::Scroll-->
								<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_role_header" data-kt-scroll-wrappers="#kt_modal_add_role_scroll" data-kt-scroll-offset="300px">
									<!--begin::Input group-->
									<div class="fv-row mb-10 fv-plugins-icon-container">
										<!--begin::Label-->
										<label class="fs-5 fw-bold form-label mb-2">
											<span class="required">Role name</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
									<input class="form-control form-control-solid" placeholder="Enter a role name" name="RoleName">
										<!--end::Input-->
										<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
									</div>
									<!--end::Input group-->
									<!--begin::Permissions-->
									<div class="fv-row">
										<!--begin::Label-->
										<label class="fs-5 fw-bold form-label mb-2">
											Role
											Permissions
										</label>
									+	<!--end::Label-->
										<!--begin::Table wrapper-->
										<div class="table-responsive">
											<!--begin::Table-->
											<table class="table align-middle table-row-dashed fs-6 gy-5">
												<!--begin::Table body-->
												<tbody class="text-gray-600 fw-semibold">
													<!--begin::Table row-->
													<tr>
														<td class="text-gray-800">
															Administrator
															Access
															<span class="ms-2" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="Allows a full access to the system" data-kt-initialized="1">
																<i class="ki-duotone ki-information fs-7">
																	<span class="path1"></span>
																	<span class="path2"></span>
																	<span class="path3"></span>
																</i>
															</span>
														</td>
														<td>
															<!--begin::Checkbox-->
															<label class="form-check form-check-custom form-check-solid me-9">
															<input class="form-check-input" type="checkbox" value="" id="checkall_add" onclick="checkAll_AddRole()" onclick="chkBoxClick(this)"+>
																<span class="form-check-label" for="kt_roles_select_all">
																	Select
																	all
																</span>
															</label>
															<!--end::Checkbox-->
														</td>
													</tr>
													<!--end::Table row-->
													<!--begin::Table row-->
													<tr>
														<!--begin::Label-->
														<td class="text-gray-800">การเข้าถึงหน้า</td>
														<!--end::Label-->
														<!--begin::Options-->
														<td>
															<!--begin::Wrapper-->
															<div class="d-flex">
															@{
																int i = 0;
															}
															@foreach (var page_r in page_role)
															{
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input type="hidden" name="Assign[@i][AccessRolesId]" value="@page_r.Id">
																	<input type="hidden" name="Assign[@i][RoleName]" value="@page_r.Name">
																	<input type="hidden" name="Assign[@i][Name]" value="@page_r.Description">
																	<input class="form-check-input" type="checkbox" name="Assign[@i][IsAllow]" onclick="chkBoxClick(this)">
																	<span class="form-check-label">@page_r.Description</span>
																	@{
																		i++;
																	}
																</label>
															}
															</div>
															<!--end::Wrapper-->
														</td>
														<!--end::Options-->
													</tr>

													<tr>
														<!--begin::Label-->
														<td class="text-gray-800">
															User Management
														</td>
														<!--end::Label-->
														<!--begin::Options-->
														<td>
															<!--begin::Wrapper-->
															<div class="d-flex">
																<!--begin::Checkbox-->
															@foreach (var order in manage_user.OrderBy(x => x.Name))
															{
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input type="hidden" name="Assign[@i][AccessRolesId]" value="@order.Id">
																	<input type="hidden" name="Assign[@i][RoleName]" value="@order.Name">
																	<input type="hidden" name="Assign[@i][Name]" value="@order.Description">
																	<input class="form-check-input" type="checkbox" name="Assign[@i][IsAllow]" onclick="chkBoxClick(this)">
																	<span class="form-check-label">@order.Description</span>
																	@{
																		i++;
																	}
																</label>
															}

																<!--end::Checkbox-->
															</div>
															<!--end::Wrapper-->
														</td>
														<!--end::Options-->
													</tr>
													<!--end::Table row-->


												</tbody>
												<!--end::Table body-->
											</table>
											<!--end::Table-->
										</div>
										<!--end::Table wrapper-->
									</div>
									<!--end::Permissions-->
								</div>
								<!--end::Scroll-->
								<!--begin::Actions-->
								<div class="text-center pt-15">
									<button type="reset" class="btn btn-light me-3"  onclick="modalAddRole()">Discard</button>
								<button  class="btn btn-primary"  onclick="clickSave()">
										<span class="indicator-label">Submit</span>
										<span class="indicator-progress">
											Please wait...
											<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
										</span>
									</button>
								</div>
								<!--end::Actions-->
							</form>
							<!--end::Form-->
						</div>
						<!--end::Modal body-->
					</div>
					<!--end::Modal content-->
				</div>
				<!--end::Modal dialog-->
			</div>
			<!--end::Modal - Add role-->
			<!--begin::Modal - Update role-->
			<div class="modal fade" id="kt_modal_update_role">
				<!--begin::Modal dialog-->
				<div class="modal-dialog modal-dialog-centered mw-750px">
					<!--begin::Modal content-->
					<div class="modal-content">
						<!--begin::Modal header-->
						<div class="modal-header">
							<!--begin::Modal title-->
							<h2 class="fw-bold">Update Role</h2>
							<!--end::Modal title-->
							<!--begin::Close-->
							<div class="btn btn-icon btn-sm btn-active-icon-primary" onclick="modalEditRole()">
								<i class="ki-duotone ki-cross fs-1">
									<span class="path1"></span>
									<span class="path2"></span>
								</i>
							</div>
							<!--end::Close-->
						</div>
						<!--end::Modal header-->
						<!--begin::Modal body-->
						<div class="modal-body scroll-y mx-lg-5 my-7">
							<!--begin::Form-->
						<form id="update_form" class="form" action="#" onsubmit="return false" method="post">
								<!--begin::Scroll-->
								<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_role_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_role_header" data-kt-scroll-wrappers="#kt_modal_add_role_scroll" data-kt-scroll-offset="300px">
									<!--begin::Input group-->
									<div class="fv-row mb-10">
										<!--begin::Label-->
										<label class="fs-5 fw-bold form-label mb-2">
											<span class="required">Role name</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
									<input class="form-control form-control-solid" placeholder="Enter a role name" name="RoleName" id="update_role_name">
									<input type="hidden" name="roleId" id="update_roleId" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
									<!--begin::Permissions-->
									<div class="fv-row">
										<!--begin::Label-->
										<label class="fs-5 fw-bold form-label mb-2">
											Role
											Permissions
										</label>
										<!--end::Label-->
										<!--begin::Table wrapper-->
										<div class="table-responsive">
											<!--begin::Table-->
											<table class="table align-middle table-row-dashed fs-6 gy-5">
												<!--begin::Table body-->
												<tbody class="text-gray-600 fw-semibold" id="update_role">
													@*
													<!--begin::Table row-->
													<tr>
														<td class="text-gray-800">
															Administrator
															Access
															<span class="ms-2" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="Allows a full access to the system" data-kt-initialized="1">
																<i class="ki-duotone ki-information fs-7">
																	<span class="path1"></span>
																	<span class="path2"></span>
																	<span class="path3"></span>
																</i>
															</span>
														</td>
														<td>
															<!--begin::Checkbox-->
															<label class="form-check form-check-custom form-check-solid me-9">
															<input class="form-check-input" type="checkbox" value="" id="kt_roles_select_all" onclick="Checked(this)">
																<span class="form-check-label" for="kt_roles_select_all">
																	Select
																	all
																</span>
															</label>
															<!--end::Checkbox-->
														</td>
													</tr>
													<!--end::Table row-->
													<!--begin::Table row-->
													<tr>
														<!--begin::Label-->
														<td class="text-gray-800">บันทึก Order</td>
														<!--end::Label-->
														<!--begin::Options-->
														<td>
															<!--begin::Wrapper-->
															<div class="d-flex">
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read" >
																	<span class="form-check-label">View</span>
																</label>
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">Create</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_write">
																	<span class="form-check-label">Edit</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_create">
																	<span class="form-check-label">Delete</span>
																</label>
																<!--end::Checkbox-->

															</div>
															<!--end::Wrapper-->
														</td>
														<!--end::Options-->
													</tr>
													<tr>
														<!--begin::Label-->
														<td class="text-gray-800">ปรับ Order</td>
														<!--end::Label-->
														<!--begin::Options-->
														<td>
															<!--begin::Wrapper-->
															<div class="d-flex">
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">View</span>
																</label>
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">Create</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_write">
																	<span class="form-check-label">Edit</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_create">
																	<span class="form-check-label">Delete</span>
																</label>
																<!--end::Checkbox-->

															</div>
															<!--end::Wrapper-->
														</td>
														<!--end::Options-->
													</tr>
													<tr>
														<!--begin::Label-->
														<td class="text-gray-800">รูปแบบข้อมูล</td>
														<!--end::Label-->
														<!--begin::Options-->
														<td>
															<!--begin::Wrapper-->
															<div class="d-flex">
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">View</span>
																</label>
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">Create</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_write">
																	<span class="form-check-label">Edit</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_create">
																	<span class="form-check-label">Delete</span>
																</label>
																<!--end::Checkbox-->

															</div>
															<!--end::Wrapper-->
														</td>
														<!--end::Options-->
													</tr>
													<tr>
														<!--begin::Label-->
														<td class="text-gray-800">พิมพ์รายงาน</td>
														<!--end::Label-->
														<!--begin::Options-->
														<td>
															<!--begin::Wrapper-->
															<div class="d-flex">
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">View</span>
																</label>
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">Create</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_write">
																	<span class="form-check-label">Edit</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_create">
																	<span class="form-check-label">Delete</span>
																</label>
																<!--end::Checkbox-->

															</div>
															<!--end::Wrapper-->
														</td>
														<!--end::Options-->
													</tr>

													<tr>
														<!--begin::Label-->
														<td class="text-gray-800">
															User Management
														</td>
														<!--end::Label-->
														<!--begin::Options-->
														<td>
															<!--begin::Wrapper-->
															<div class="d-flex">
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">View</span>
																</label>
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_read">
																	<span class="form-check-label">Create</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_write">
																	<span class="form-check-label">Edit</span>
																</label>
																<!--end::Checkbox-->
																<!--begin::Checkbox-->
																<label class="form-check form-check-sm form-check-custom form-check-solid">
																	<input class="form-check-input" type="checkbox" value="" name="user_management_create">
																	<span class="form-check-label">Delete</span>
																</label>
																<!--end::Checkbox-->
															</div>
															<!--end::Wrapper-->
														</td>
														<!--end::Options-->
													</tr>
													<!--end::Table row-->*@


												</tbody>
												<!--end::Table body-->
											</table>
											<!--end::Table-->
										</div>
										<!--end::Table wrapper-->
									</div>
									<!--end::Permissions-->
								</div>
								<!--end::Scroll-->
								<!--begin::Actions-->
								<div class="text-center pt-15">
								<button class="btn btn-light me-3" data-kt-roles-modal-action="cancel" onclick="modalEditRole()">Discard</button>
								<button class="btn btn-primary" data-kt-roles-modal-action="submit" onclick="editRole()">
										<span class="indicator-label" >Submit</span>
										<span class="indicator-progress">
											Please wait...
											<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
										</span>
									</button>
								</div>
								<!--end::Actions-->
							</form>
							<!--end::Form-->
						</div>
						<!--end::Modal body-->
					</div>
					<!--end::Modal content-->
				</div>
				<!--end::Modal dialog-->
			</div>
			<!--end::Modal - Update role-->
			<!--end::Modals-->
		</div>
		<!--end::Content container-->
	</div>
	<!--end::Content-->

	<script>
		const UpdateRoles = (roleId)=>{

		fetch("/role/JsonEditRole?roleId=" + roleId, { method: "post" }).then(res => res.json()).then(data => {
			console.log(data);
			document.getElementById("update_role_name").value = data?.roleName;
			document.getElementById("update_roleId").value = data?.roleId;
			let form_index = 0;
			let html = data?.list.reduce((prev, curr) => prev += `
														<tr>
															<td class="text-gray-800">${curr?.name}</td>
															<td>
																<div class="d-flex">
																			${curr?.assign.reduce((prevA, currA) =>
																			prevA += `<label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20" >
																			<input type="hidden" name="Assign[${form_index}][Id]" value="${currA?.id}">
																			<input type="hidden" name = "Assign[${form_index}][AccessRolesId]" value = "${currA?.roleId}" >
																			<input type="hidden" name="Assign[${form_index}][RoleId]" value="${currA?.roleId}">
																			<input type="hidden" name = "Assign[${form_index}][RoleName]" value = "${currA?.roleName}" >
																			<input type="hidden" name="Assign[${form_index}][Name]" value="${currA?.name}">
																			<input class="form-check-input" type = "checkbox" name = "Assign[${form_index++}][IsAllow]" onclick = "chkBoxClick(this)" ${currA?.isAllow ? "checked" : ""}  value="${currA?.isAllow ? "true" : "true"}">
																			<span class="form-check-label" > ${currA?.name} </span>
																		</label>` ,"")}
																</div>
															</td>
														</tr>`, "");
			document.getElementById("update_role").innerHTML = html;
			modalEditRole();
		}).catch(error => console.log(error));
		}



	const modalAddRole = () => 
		{
		let modal = document.getElementById("modal_add_role");
			modal.classList.toggle("show");
			if (modal.classList.contains("show")) {
				modal.style.display = "block";
			} else {
				modal.style.display = "none";
			}
		}

	const modalEditRole = () => {
		let modal = document.getElementById("kt_modal_update_role");
		modal.classList.toggle("show");
		if (modal.classList.contains("show")) {
			modal.style.display = "block";
			//modal.attributes["role"].value = "dialog";
		} else {
			modal.style.display = "none";
			//modal.attributes["role"].value = "";
		}
		//let back_drop = document.getElementById('kt_app_body');
		//back_drop.removeChild(back_drop.lastChild);
	}

		const clickSave = () => {
			const form = document.getElementById("form_add_role");
			const formData = new FormData(form);
			fetch("/role/AddRole", {
				method: 'POST',
				body: formData,
			}).then(res => res.json()).then(data => {
				if (data.msg) {
					Swal.fire({
						position: 'top-end',
						icon: 'success',
						title: data.msg,
						showConfirmButton: false,
						timer: 1500
					}).then(resault => {
						window.location.reload();
					});
				} else {
					Swal.fire('Error > ' + data.error);
				}
				
			})
		}

				const editRole =()=>{
					const form = document.getElementById("update_form");
					const formData = new FormData(form);
					fetch("/role/editRole",{method:"post",body: formData}).then(res => res.json()).then(data => {
						if(data.msg){
				Swal.fire(
					'Success!',
					data.msg,
					'success'
				).then(resault => {

					window.location.reload();
				});
						}else{
				Swal.fire(
					'!Error',
					data.error,
					'warning'
				)
						}

					}).catch(error => console.log(error));
				}

		const delateRole=(roleId)=>{
			Swal.fire({
				title: 'ต้องการลบ Role?',
				text: "ลบแล้วจะไม่สามรถกู้คืนได้",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				cancelButtonText: 'ยกเลืก',
				confirmButtonText: 'ลบ'
			}).then((result) => {
				if (result.isConfirmed) {
					fetch("/role/DeleteRole?roleId=" + roleId,{method:"post"}).then(res => res.json()).then(data => {
						Swal.fire(
							'Deleted!',
							'ลบข้อมูลเรียบร้อย',
							'success'
						).then(resault => {
							window.location.reload();
						});
					}).catch(error => console.log(error));
				}
			});

		}

		const checkAll_AddRole = () => {
			let chk_box = document.getElementById("checkall_add").checked;
		document.querySelector("#form_add_role").querySelectorAll("input[type=checkbox]").forEach(checkbox => {
				if (chk_box) {
					checkbox.checked = true;
					checkbox.value = true;
				} else {
					checkbox.checked = false;
					checkbox.value = false;
				}
			});
		}


	const chkBoxClick = (chk_box) => {
			if (chk_box.checked) {
				chk_box.value = true;
			} else {
				chk_box.value = false;
			}
		}
	</script>
